// Cores

$white: #ffffff;
$black: #000000;

$blueLight: #80bdff;
$blue: #007bff;
$blueDark: #0056b3;

$greyLight: #d6d8db;
$grey: #6c757d;
$greyDark: #343a40;

// Contextos

$light: $white;
$dark: $black;

$primaryLight: $blueLight;
$primary: $blue;
$primaryDark: $blueDark;

$secondaryLight: $greyLight;
$secondary: $grey;
$secondaryDark: $greyDark;

// Breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;