.main_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    max-width: 50rem;
    padding-inline: 1.75rem;
    gap: 1rem;

    @media (max-width: 900px) {
        margin: 1.75rem;
        margin-bottom: 1.75rem;
        padding-inline: 1.25rem;
    }

    .main_banner__title,
    .main_banner__subtitle {
        text-align: center;
    }

    .main_banner__title {
        font-size: 4rem;
        font-weight: bold;
        line-height: 1.2;

        @media (max-width: 900px) {
            font-size: 2.25rem;
        }

        @media (max-width: 600px) {
            font-size: 1.75rem;
        }
    }

    .main_banner__subtitle {}
}