footer {
    margin-top: 3.25rem;
    margin-bottom: 2.75rem;
    border-top: 1px solid grey;

    .columns_area {
        padding-top: 2rem;

        @media (max-width: 900px) {
            text-align: center;
        }
    }

    .links_area {
        text-align: center;
        margin-top: 2.75rem;
    }
}